{{>partial_header}}
package amfmt

import (
	"amf.com/amfcommon"
	"github.com/gorilla/mux"	
)

func Routeramfmt(router *mux.Router) *mux.Router {
{{#apiInfo}}{{#apis}}
	{{classname}}Service := New{{classname}}Service()
	{{classname}}Controller := New{{classname}}Controller({{classname}}Service)
{{/apis}}{{/apiInfo}}
	router = amfcommon.AddRouter(router, {{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})

	return router
}
